$black: #000000;
$blue: #0000FF;
$cyan: #00FFFF;
$dark-gray: #1D1F21;
$dark-grey: #353535;
$dark-teal: #014D4E;
$error-red: #BF2219;
$gray: #808080;
$green: #008000;
$greenish-blue: #0B8B87;
$light-green: #0CE86D;
$light-sea-green: #20B2AA;
$light-tan: #F2F2F2;
$lime: #00FF00;
$lime-green: #32CD32;
$orange: #FFA500;
$purple: #800080;
$red: #FF0000;
$sea-green: #2E8B57;
$SumRndmColor: #00BCD5;
$SumGrayColor: #222222;
$very-light-gray: #C5C8C6;
$white: #FFFFFF;
$yellow: #FFFF00;

/*
@light-gray: #969896;
@ggray: #373B41;
@dark-gray: #282A2E;
@dark-grey: #141414;
@very-dark-gray: #1D1F21;
@dark-slate-gray: #2F4F4F;
@cyan: #00FFFF;
@gray-cyan: #8ABEB7;
@bblue: #81A2BE;
@cornflower-blue: #6495ED;
@ppurple: #B294BB;
@ggreen: #008000;//#B5BD68;
@light-sea-green: #20B2AA;
@spring-green: #00FF7F;
@sea-green: #2E8B57;
@dark-teal: #008080;
@rred: #FF0000;
@light-red: #CC6666;
@oorange: #DE935F;
@light-orange: #F0C674;
@bblack: #000000;
*/
