@import "colors.scss";

$monday-color: $purple;
$tuesday-color: $yellow;
$wednesday-color: $red;
$thursday-color: $green;
$friday-color: $blue;
$saturday-color: $cyan;
$sunday-color: $orange;

$site-background-color: $dark-grey;
$site-background-image: url("../../images/WIN_20160216_104124.jpg");
$site-text-color: $yellow;
$site-hover-color: $lime;
$main-background-color: $green;
$footer-color: $dark-gray;
$link-color: $light-tan;
$nav-link-color: $gray;
$nav-dropdown-menu-color: $dark-grey;
$link-pic-background-color: $SumRndmColor;
$link-background-color: $dark-gray;
$cool-links-color: $dark-grey;
$dice-results-color: $dark-teal;
$form-background-color: $light-green;
$error-color: $error-red;
$icon-footer-color: $gray;
$nav-hover-color: $SumRndmColor;
$nav-icon-color: $light-tan;
